<div class="sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
            <a href="/" class="sidebar-nav-link <%if (_currentURL == '/') { %> active <% } %>">
                <div>
                    <i class="fas fa-pen-square"></i>
                </div>
                <span>Đăng ký khám</span>
            </a>
        </li>

        <li class="sidebar-nav-item">
            <a href="/appointment" class="sidebar-nav-link <%if (_currentURL.includes('appointment')) { %> active <% } %>">
                <div>
                    <i class="fas fa-calendar-check"></i>
                </div>
                <span>Lịch hẹn</span>
            </a>
        </li>

        <li class="sidebar-nav-item">
            <a href="/mycalendar" class="sidebar-nav-link <%if (_currentURL.includes('mycalendar')) { %> active <% } %>">
                <div>
                    <i class="fas fa-calendar-alt"></i>
                </div>
                <span>Lịch làm việc</span>
            </a>
        </li>

        <li class="sidebar-nav-item">
            <a href="/patient_list" class="sidebar-nav-link <%if (_currentURL.includes('patient_list')) { %> active <% } %>">
                <div>
                    <i class="fas fa-file-medical"></i>
                </div>
                <span>Khách hàng</span>
            </a>
        </li>

        <li class="sidebar-nav-item">
            <a href="" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-check-circle"></i>
                </div>
                <span>Trạng thái tư vấn</span>
            </a>
        </li>

        <li class="sidebar-nav-item">
            <a href="" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-money-check-alt"></i>
                </div>
                <span>Thanh toán</span>
            </a>
        </li>

        <li class="sidebar-nav-item">
            <a href="/myaccount/logout" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-sign-out-alt"></i>
                </div>
                <span>Đăng xuất</span>
            </a>
        </li>
    </ul>
</div>