<div class="sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
            <a href="#" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-home"></i>
                </div>
                <span>Trang chủ</span>
            </a>
        </li>

        <li class="sidebar-nav-item">
            <a href="" class="sidebar-nav-link active">
                <div>
                    <i class="fas fa-pen-square"></i>
                </div>
                <span>Đăng ký khám</span>
            </a>
        </li>

        <li class="sidebar-nav-item">
            <a href="" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-file-medical"></i>
                </div>
                <span>Khám bệnh</span>
            </a>
        </li>

        <li class="sidebar-nav-item">
            <a href="" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-calendar-check"></i>
                </div>
                <span>Lịch hẹn</span>
            </a>
        </li>

        <li class="sidebar-nav-item">
            <a href="" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-calendar-alt"></i>
                </div>
                <span>Lịch làm việc</span>
            </a>
        </li>

        <li class="sidebar-nav-item">
            <a href="" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-check-circle"></i>
                </div>
                <span>Trạng thái tư vấn</span>
            </a>
        </li>

        <li class="sidebar-nav-item">
            <a href="" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-money-check-alt"></i>
                </div>
                <span>Thanh toán</span>
            </a>
        </li>

        <li class="sidebar-nav-item">
            <a href="" class="sidebar-nav-link">
                <div>
                    
                </div>
                <span></span>
            </a>
        </li>
    </ul>
</div>