<main class="admin__main">
    <div class="admin__main-heading">
        <p> <span onclick="back()" style="cursor: pointer; text-decoration: underline;">Khách hàng</span> / Thêm</p>
        <a href="" class="admin__main-btn admin__main-create btn-back">
            <i class='bx bx-undo'></i>
        </a>
    </div>
    <form id="create-patient" method="POST" action="/administration/patient/store" class="profile__main" enctype="multipart/form-data">
        <div class="profile__main-content">
            <div class="profile__main-left">
                <div class="profile__main-avatar">
                    <img src="/img/logoclinic.png" alt="" class="profile__main-img">
                    <span>
                        <i class='bx bxs-camera-plus'></i>
                    </span>
                </div>
            <button id="btn-save-profile" type="submit" class="admin__main-btn btn-action-form">
                <i class='bx bxs-plus-circle' ></i>
            </button>
            </div>
            <input type="file" class="upload__file-img" id="image" name="image">
            <div class="profile__main-info admin__patient">
                <div class="profile__main-item">
                    <label for="fullName" class="profile__main-label">Họ và tên</label>
                    <input type="text" class="profile__main-input" id="fullName" name="fullname" value=""  required>
                </div>
                <div class="profile__main-item">
                    <label for="dateofbirth" class="profile__main-label">Ngày sinh</label>
                    <input type="date" class="profile__main-input" id="dateofbirth" name="dateofbirth" value=""  required>
                </div>
                <div class="profile__main-item">
                    <label for="gender" class="profile__main-label">Giới tính</label>
                    <select id="gender" name="gender" class="profile__main-input" required>
                        <option value="">-- Chọn giới tính --</option>
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                        <option value="Khác">Khác</option>
                    </select>
                </div>
                <div class="profile__main-item">
                    <label for="phone" class="profile__main-label">Số điện thoại</label>
                    <input type="phone" class="profile__main-input" id="phone" name="phone" value=""  required>
                </div>
                <div class="profile__main-item">
                    <label for="email" class="profile__main-label">Email</label>
                    <input type="email" class="profile__main-input" id="email" name="email" value=""  required>
                </div>
                <div class="profile__main-item">
                    <label for="building" class="profile__main-label">Địa chỉ</label>
                    <div class="profile__main-item--address">
                        <div>
                            <input type="text" class="profile__main-input" id="building" name="building" value="" placeholder="Số nhà, đường, khu phố" style="width:100%" required>
                        </div>
                        <div>
                            <select name="city" id="select-city" class="profile__main-input" style="width:100%" required>
                                <option></option>
                                <% provinces.forEach(function(province, index){%>
                                    <option value="<%= province.name %>"><%= province.name %></option>
                                <%})%>
                            </select>
                        </div>
                        <div>
                            <select name="district" id="select-district" class="profile__main-input" style="width:100%" required></select>
                        </div>
                        <div>
                            <select name="ward" id="select-ward" class="profile__main-input" style="width:100%" required></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>

<%- include('../partials/select2_patient') -%>

