<%if (_message) { %>
    <div class="alert alert-<%= _message.type %> main__alert">
        <%= _message.content %>
        <button type="button" class="btn-close" data-bs-dismiss="alert"="alert"><i class='bx bx-x'></i></button>
    </div>
<% } %>

<script>
    const alert_mess = document.querySelector('.main__alert');
    // if(alert_mess){
    //     setTimeout(() => {
    //         alert_mess.style.display = 'none';
    //     }, 3000);
    // }
    const btn_close = document.querySelector('.btn-close > i');
    btn_close.onclick = function(){
        alert_mess.style.display = 'none';
    }
</script>